<!DOCTYPE>
<html ng-app="directivePractice">
    <head>
        <title>Kara's Angular Directives</title>
    </head>

    

    <body ng-controller="lessonCtrl">
        <ul>
            <lesson-hider ng-repeat="lesson in lessons" lesson="lesson" day-alert="announceDay(lesson, day)"></lesson-hider>
        </ul>
        <div>
            {{test}}
        </div>
        <div>
        <input ng-model="lesson"></input>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
        <script src="./app.js"></script>
        <script src="./lessonCtrl.js"></script>
        <script src="./lessonService.js"></script>
        <script src="./lessonHider.js"></script>
    </body>
</html>